# Data Visualizations with Excel Data Tables

## Load Excel in Python

- gapminder.xlsx

In [1]:
import pandas as pd

In [5]:
pip install openpyxl ---yes

Usage:
  /usr/local/python/3.10.8/bin/python3 -m pip install [options] <requirement specifier> [package-index-options] ...
  /usr/local/python/3.10.8/bin/python3 -m pip install [options] -r <requirements file> [package-index-options] ...
  /usr/local/python/3.10.8/bin/python3 -m pip install [options] [-e] <vcs project url> ...
  /usr/local/python/3.10.8/bin/python3 -m pip install [options] [-e] <local project path> ...
  /usr/local/python/3.10.8/bin/python3 -m pip install [options] <archive url/path> ...

no such option: ---yes
Note: you may need to restart the kernel to use updated packages.

In [6]:
df_countries= pd.read_excel("gapminder.xlsx")

In [7]:
df_countries

                country  life_expectancy  money_per_person
0           Afghanistan           43.828        974.580338
1               Albania           76.423       5937.029526
2               Algeria           72.301       6223.367465
3                Angola           42.731       4797.231267
4             Argentina           75.320      12779.379640
..                  ...              ...               ...
137             Vietnam           74.249       2441.576404
138  West Bank and Gaza           73.422       3025.349798
139         Yemen, Rep.           62.698       2280.769906
140              Zambia           42.384       1271.211593
141            Zimbabwe           43.487        469.709298

[142 rows x 3 columns]

## Create a scatter plot

### Import matplotlib library

In [8]:
import matplotlib.pyplot as plt

### Access column data separately

In [11]:
df_countries.life_expectancy

0      43.828
1      76.423
2      72.301
3      42.731
4      75.320
        ...
137    74.249
138    73.422
139    62.698
140    42.384
141    43.487
Name: life_expectancy, Length: 142, dtype: float64

In [9]:
df_countries.money_per_person

0        974.580338
1       5937.029526
2       6223.367465
3       4797.231267
4      12779.379640
           ...
137     2441.576404
138     3025.349798
139     2280.769906
140     1271.211593
141      469.709298
Name: money_per_person, Length: 142, dtype: float64

In [9]:
df_countries.money_per_person

0        974.580338
1       5937.029526
2       6223.367465
3       4797.231267
4      12779.379640
           ...
137     2441.576404
138     3025.349798
139     2280.769906
140     1271.211593
141      469.709298
Name: money_per_person, Length: 142, dtype: float64

### Pass data to scatter function

In [12]:
import matplotlib.pyplot as plt

## Customize the plot

### Change the size

### Change the color

### Change the marker

### Change the border

## Interactive scatter plot

Which country represents each point?

### Import plotly library

In [ ]:
import plotly.express as px

### Pass data to scatter function

### Add data to hovering

## Data Analysis

- [ ] What is the relationship between money_per_person (x-axis) and life_expectancy (y-axis)?